<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>INDEX</title>
</head>
<body>
    <a asp-action="Admin">Admin Sayfası</a>
    <a asp-action="Member">Member Sayfası</a>
    <a asp-action="LogOut">Çıkış Yap</a>
</body>
</html>